altair
attrs
blinker
cachetools
certifi
charset-normalizer
click
contourpy
cvzone
cycler
filelock
filterpy
fonttools
fsspec
gitdb
GitPython
idna
imageio
Jinja2
jsonschema
jsonschema-specifications
kiwisolver
lazy_loader
markdown-it-py
MarkupSafe
matplotlib
mdurl
mpmath
networkx
numpy
opencv-python-headless==4.9.0.80
packaging
pandas
pillow
protobuf
psutil
py-cpuinfo
pyarrow
pydeck
Pygments
pyparsing
python-dateutil
pytz
PyYAML
referencing
requests
rich
rpds-py
scikit-image
scipy
seaborn
six
smmap
streamlit
sympy
tenacity
thop
tifffile
toolz
torch
torchvision
tornado
tqdm
typing_extensions
tzdata
ultralytics==8.1.47
urllib3
-e .