altair
antlr4-python3-runtime
attrs
blinker
cachetools
certifi
charset-normalizer
click
contourpy
cvzone
cycler
filelock
filterpy
fonttools
fsspec
gitdb
GitPython
hydra-core
idna
imageio
Jinja2
jsonschema
jsonschema-specifications
kiwisolver
lap
lazy_loader
markdown-it-py
MarkupSafe
matplotlib
mdurl
mpmath
networkx
numpy
omegaconf
opencv-python
packaging
pandas
Pillow
protobuf
psutil
py-cpuinfo
pyarrow
pydeck
Pygments
pyparsing
python-dateutil
pytz
PyYAML
referencing
requests
rich
rpds-py
scikit-image
scipy
seaborn
six
smmap
streamlit
sympy
tenacity
thop
tifffile
toml
toolz
torch
torchvision
tornado
tqdm
typing_extensions
tzdata
ultralytics
urllib3
-e git+https://github.com/RohitMacherla3/real-time-object-detection-system.git@3fecc810a8d590babe06c2d15acdc7a1d1b77240#egg=object_detection
